<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>

<div th:replace="admin/header :: header"> </div>

<body>

<div th:replace="admin/header :: navbar"></div>




    <div class="container">
        <div class="row">
            <h1>List Blogs Posts</h1>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="mb-3">
                    <form class="row"th:action="@{/admin/posts/search}">
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" name="query">

                            <button class="btn btn-outline-secondary" type="submit" >Search</button>

                        </div>
                    </form>


                </div>

            </div>

        </div>

        <table class="table table-striped table-hover table-bordered ">
            <thead class="table-dark">
                <th style="width: 10%">#</th>
                <th style="width: 10%">Post ID</th>
                <th style="width: 20%">Title</th>
                <th style="width: 30%">Short Description</th>
                <th style="width: 20%">Created On</th>
                <th style="width: 20%">Actions</th>
            </thead>

            <tbody>
                <tr th:each="post, postStat : ${posts}">
                    <td th:text="${postStat.count}">1</td>
                    <td th:text="${post.id}">title</td>
                    <td th:text="${post.title}">title</td>
                    <td th:text="${post.shortDescription}">shortDescription</td>
                    <td th:text="${#temporals.format(post.createdOn,'dd MMM yyyy')}">create on</td>
                    <td>
                        <a th:href="@{/admin/posts/{postID}/edit(postID=${post.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/admin/posts/{postID}/delete(postID=${post.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/admin/posts/{postUrl}/view(postUrl=${post.url})}" class="btn btn-info">View</a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

</body>

<div th:replace="admin/header :: footer"></div>

</html>